.button-container {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
  border: 1px solid #505050;
  flex-wrap: wrap;
  border-radius: 10px;
  min-width: 50vw;
  padding: 30px 50px;
}

@media (max-width: 1000px) {
  .button-container {
    justify-content: center;
  }
}